@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($properties: all, $duration: 0.3s, $timing: ease) {
  transition: $properties $duration $timing;
}
